<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Simpul Weds</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/jquery.fullPage.css" />
	<link rel="stylesheet" type="text/css" href="../font/font.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css" media="all" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
	<link rel="stylesheet" type="text/css" href="../stylesheets/app.css" media="all" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->

	<!-- <script type="text/javascript" src="../vendors/scrolloverflow.js"></script> -->
	<script type="text/javascript" src="../js/jquery.fullPage.min.js"></script>
	<style>
	#gogrey{
		color: grey;
	}
	#gowhite{
		color:white;
	}
	#gogrey:hover{
		color: black;
	}
	#gowhite:hover{
		color: black;
	}
	</style>

	<script type="text/javascript">
	var deleteLog = false;
	$(document).ready(function() {
		$('#fullpage').fullpage({
			sectionsColor: ['#ffffff', '#ffffff', '#ffffff', '#ffffff'],
			anchors: ['Home', 'Film', 'Photo', 'Contact'],
			onLeave: function(index, nextIndex, direction){
				var leavingSection = $(this);
				//after leaving section 1
				if(index == 1 && direction =='down'){
					console.log($("logo-header-width"))
					setTimeout(function(){$(".navbar-inverse .navbar-nav > li > a").attr('id','gogrey');},400)
					setTimeout(function(){$(".logo-header-width").attr('src','images/logo.png');},400)
					$(".logo h6").attr('id','gogrey');
				}

				else if(index == 2 && direction == 'up'){
					$(".navbar-inverse .navbar-nav > li > a").attr('id','gowhite');
					$(".logo-header-width").attr('src','images/logowhite.png');
					setTimeout(function(){$(".logo h6").attr('id','gowhite');},400)
				}
			}
		});


	});

	</script>
	<link rel="icon" href="http://www.simpulweds.com" type="image/x-icon" href="./images/favicon.ico"/>
</head>
<body>
	<div style="position:fixed;top:50px;left:50px;color:white;z-index:999;" id="callbacksDiv"></div>
	<!--No Logo-->
	<div class="navbar navbar-inverse navbar-fixed-top" id="navigation">
		<div class="navbar-inner">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img class="logo-header-width" src="images/logowhite.png"></a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav" id="menu">
					<li data-menuanchor="Home"><a href="#Home">HOME</a></li>
					<li data-menuanchor="Film"><a href="#Film">FILM</a></li>
					<li data-menuanchor="Photo"><a href="#Photo">PHOTO</a></li>
					<li data-menuanchor="Contact"><a href="#Contact">CONTACT</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">FACEBOOK</a></li>
				<li><a href="https://www.instagram.com/simpulweds/">INSTAGRAM</a></li>
			</ul>
		</div>
	</div>
</div>

<div class=logo>
	<h6>FILM | PHOTOGRAPHY | STYLING</h6>
</div>
<!--Logo Uploaded-->
<!-- </div> -->

<div id="fullpage">
	<div class="section" id="section0">
		<div id="fotor_1"
		class="fotorama"
		data-ratio="4000/2000"
		data-fit="cover"
		data-nav="false"
		data-height="100%"
		data-width="100%">
		<div>
		</div>

		<script>



		// returns an array with height and width of the window
		function getBrowsSize() {
			var brows_size = new Array;
			if (self.innerHeight) {
				brows_size['height'] = self.innerHeight;
				brows_size['width'] = self.innerWidth;
			} else if (document.documentElement && document.documentElement.clientHeight) {
				brows_size['height'] = document.documentElement.clientHeight;
				brows_size['width'] = document.documentElement.Width;
			} else if (document.body) {
				brows_size['height'] = document.body.clientHeight;
				brows_size['width'] = document.body.clientWidth;
			}
			return brows_size;
		}
		var brows_size = getBrowsSize(); // gets browser's width /height
		console.log(brows_size['width'])
		console.log($(window).width())
		// array with images addresses
		var fotor_imgs = ['images/11', 'images/12'];
		// set indice "a" added in images address for mobile
		var i_mo = (brows_size['width'] <=980) ? 'a' : '';
		// set and add the html with images in #fotor_1
		var add_imgs = '';
		for(var i=0; i<fotor_imgs.length; i++) {
			add_imgs += '<a href="'+ fotor_imgs[i] + i_mo +'.jpg"><img src="'+ fotor_imgs[i] + i_mo +'.jpg"></a>';
			console.log(add_imgs)
		}
		document.getElementById('fotor_1').innerHTML = add_imgs;
		console.log(document.getElementById('fotor_1'))
		</script>


	</div>
</div>
<!-- SECTION 2 -->
<div class="section" id="section1">
	<!-- FIRST SLIDER -->
	<div class="intro">
		<div class="container">
			<div class="col-md-6 col-sm-12 container padding">
				<div class="col-xs-12 col-xs-offset-0">
					<!-- 16:9 aspect ratio -->
					<div class="embed-responsive embed-responsive-4by3">
						<iframe id="ytiframe" class="embed-responsive-item"  height="455" src="https://www.youtube.com/embed/bLxEXzZgC9U?rel=0" allowfullscreen frameborder="0"></iframe>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 container padding">
				<div class="row margin slide1">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin rutrum feugiat. Mauris non justo mattis sapien facilisis venenatis id non dui. Aenean eu tempor quam. Donec velit mi, vulputate vel rutrum tristique, blandit a nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque sed diam sit amet ante ullamcorper dapibus sed eget nisi. Pellentesque at dolor euismod, dapibus massa at, eleifend elit. Maecenas turpis mi, viverra eget est sit amet, commodo lobortis ante. Curabitur auctor eleifend tristique. Donec non nunc quis leo aliquam vulputate. Curabitur non dui sed nulla blandit imperdiet.
					<h4 class="title-article">LOREM IPSUM</h4>
				</div>
			</div>
		</div>
	</div>
	<!-- //FIRST SLIDER -->
</div>
<!-- SECTION 2 -->

<!-- SECTION 3 -->
<div class="section" id="section2">
	<div class="intro">
		<div class="container">
			<div class="col-md-6 col-sm-12 container padding">
				<div class="row margin slide2">
					asdt is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
					<h4 class="title-article">LOREM IPSUM</h4>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 container padding">
				<div class="fotorama" data-width="700" data-ratio="700/467" data-max-width="100%" data-nav="thumbs">
					<img src="http://res.cloudinary.com/simpulweds/image/upload/v1507882933/Slideshow/1.jpg">
					<img src="http://res.cloudinary.com/simpulweds/image/upload/v1507882931/Slideshow/2.jpg">
					<img src="http://res.cloudinary.com/simpulweds/image/upload/v1507882942/Slideshow/3.jpg">
					<img src="http://res.cloudinary.com/simpulweds/image/upload/v1507882942/Slideshow/4.jpg">
					<img src="http://res.cloudinary.com/simpulweds/image/upload/v1507882942/Slideshow/5.jpg">
					<img src="http://res.cloudinary.com/simpulweds/image/upload/v1507882942/Slideshow/6.jpg">
					<img src="http://res.cloudinary.com/simpulweds/image/upload/v1507882942/Slideshow/7.jpg">
					<img src="http://res.cloudinary.com/simpulweds/image/upload/v1507882942/Slideshow/8.jpg">
				</div>
			</div>
		</div>
	</div>
</div>
<!-- SECTION 3 -->

<div class="section" id="section3">
	<div class="container">
		<div class="" style="padding:20px; font-size:2em;">
			<h3><%=message%></h3>
			<h2>Send us message!</h2>
		</div>
	</div>

	<div class="container col-sm-12 col-xs-12 col-md-3 col-md-offset-3">
		<form class="form-horizontal" action="send" method="POST">
			<div class="form-group" >
				<label class="control-label col-sm-2"  for="name">Name:</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Email:</label>
				<div class="col-sm-9">
					<input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="country">Country:</label>
				<div class="col-sm-9">
					<input type="text" class="form-control " id="country" placeholder="Enter country" name="country">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="message">Message:</label>
				<div class="col-sm-9">
					<textarea class="form-control" rows="5" id="message" placeholder="Enter Message" name="message"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-8">
					<button type="submit" class="btn btn-default" style="text-align:right">Submit</button>
				</div>
			</div>
		</form>
	</div>

	<div class="container col-sm-12 col-xs-12 col-md-6" style="text-align:left">
		<p>SIMPUL WEDS
			<br>Jl. S. Parman Gg. Harapan No. 9F - 20153
			<br>Medan, North Sumatra, Indonesia
			<br>(click here for direction)
			<br><a href="tel:+62 812 6273 1177">+62 812 6273 1177</a>
			<br><a href ="mailto:simpulweds@gmail.com?Subject:Hi Axel">simpulweds@gmail.com</a>
		</p>
	</div>

</div>
</div>

</body>
</html>
