<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Simpul Weds</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/jquery.fullPage.css" />
	<link rel="stylesheet" type="text/css" href="../stylesheets/examples.css" />
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css" media="all" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
	<link rel="stylesheet" type="text/css" href="../stylesheets/app.css" media="all" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->

	<!-- <script type="text/javascript" src="../vendors/scrolloverflow.js"></script> -->

	<script type="text/javascript" src="../js/jquery.fullPage.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				sectionsColor: ['#ffffff', '#ffffff', '#ffffff', '#ffffff', '#ffffff']
			});
		});

	</script>
	<style>
	.fotorama__wrap{
		margin:auto;
	}


	@media only screen and (max-width:600px){
		label .control-label .col-sm-2 {
    font-size: 1.3em;
		}
	}


	</style>

</head>
<body>

<div id="fullpage">
	
	<a href="https://github.com/Nurdok/htmlify">
     <div style="position:relative;min-width:960px">
	 <img src="http://theabrand.co/images/logo.png" style="position: absolute;right:0;top:0" />
	</div>
	</a>
	
	<div class="section" id="section0">
		<div id="fotor_1"
		 class="fotorama"
		 data-ratio="4000/2000"
		 data-fit="cover"
		 data-nav="false"
     data-height="100%"
		 data-width="100%">
		<div>
		</div>

			<script>



			// returns an array with height and width of the window
			function getBrowsSize() {
			var brows_size = new Array;
			if (self.innerHeight) {
			brows_size['height'] = self.innerHeight;
			brows_size['width'] = self.innerWidth;
			} else if (document.documentElement && document.documentElement.clientHeight) {
			brows_size['height'] = document.documentElement.clientHeight;
			brows_size['width'] = document.documentElement.Width;
			} else if (document.body) {
			brows_size['height'] = document.body.clientHeight;
			brows_size['width'] = document.body.clientWidth;
			}
			return brows_size;
			}
			var brows_size = getBrowsSize(); // gets browser's width /height
			console.log(brows_size['width'])
			console.log($(window).width())
			// array with images addresses
			var fotor_imgs = ['images/11', 'images/12'];
			// set indice "a" added in images address for mobile
			var i_mo = (brows_size['width'] < 800) ? 'a' : '';

			window.addEventListener('resize', function(e){
			var brows_size2 = getBrowsSize();
			var i_mo2 = (brows_size2['width'] < 800) ? 'a' : '';
			if(i_mo2 !== i_mo) window.location.replace(window.location.href);
			}, false);

			// set and add the html with images in #fotor_1
			var add_imgs = '';
			for(var i=0; i<fotor_imgs.length; i++) {
			add_imgs += '<a href="'+ fotor_imgs[i] + i_mo +'.jpg"><img src="'+ fotor_imgs[i] + i_mo +'.jpg"></a>';
			console.log(add_imgs)
			}
			document.getElementById('fotor_1').innerHTML = add_imgs;
			console.log(document.getElementById('fotor_1'))
			</script>


		</div>
	</div>
	<!-- SECTION 2 -->
	<div class="section" id="section1">
		<!-- FIRST SLIDER -->
			<div class="intro">
				<div class="container padding">
        	<div class="row" style="margin:0px;">
          	<div class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0 nopadding">
            <!-- 16:9 aspect ratio -->
	          <div class="embed-responsive embed-responsive-16by9">
	          	<iframe id="ytiframe" class="embed-responsive-item" width="680" height="455" src="https://www.youtube.com/embed/bLxEXzZgC9U?rel=0" allowfullscreen frameborder="0"></iframe>
	          </div>
						<br>
            	<a href="https://youtube.com"><u>Watch more on Youtube</u></a>
          	</div>
        	</div>
				</div>
			</div>
		<!-- //FIRST SLIDER -->
	</div>
	<!-- SECTION 2 -->

	<!-- SECTION 3 -->
	<div class="section" id="section2">
		<div class="section" id="section2">
			<div class="intro">
				<div class="container padding">
					<div class="fotorama" data-width="700" data-ratio="700/467" data-max-width="100%" data-nav="thumbs">
					  <img src="images/1.jpg">
					  <img src="images/2.jpg">
					  <img src="images/2.jpg">
					  <img src="images/4.jpg">
					  <img src="images/5.jpg">
					  <img src="images/6.jpg">
					  <img src="images/7.jpg">
					  <img src="images/8.jpg">
					  <img src="images/9.jpg">
					  <img src="images/10.jpg">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- SECTION 3 -->

	<div class="section" id="section3">
		<div class="container">
			<div class="" style="padding:20px; font-size:2em;">
				<h2>Send us message!</h2>
			</div>
		</div>

		<div class="container col-sm-12 col-xs-12 col-md-3 col-md-offset-3">
		  <form class="form-horizontal" action="/action_page.php">
		  	<div class="form-group" >
		      <label class="control-label col-sm-2"  for="name">Name:</label>
		      <div class="col-sm-9">
		        <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
		      </div>
		    </div>
		    <div class="form-group">
		      <label class="control-label col-sm-2" for="email">Email:</label>
		      <div class="col-sm-9">
		        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
		      </div>
		    </div>
				<div class="form-group">
		      <label class="control-label col-sm-2" for="country">Country:</label>
		      <div class="col-sm-9">
		        <input type="text" class="form-control" id="country" placeholder="Enter country" name="country">
		      </div>
		    </div>
		    <div class="form-group">
		        <label class="control-label col-sm-2" for="comment">Message:</label>
		      <div class="col-sm-9">
		        <textarea class="form-control" rows="5" id="comment" placeholder="Enter Message"></textarea>
		    </div>
		    </div>
		    <div class="form-group">
					<div class="col-sm-8">
						<button type="submit" class="btn btn-default" style="text-align:right">Submit</button>
					</div>
		    </div>
		  </form>
		</div>

		<div class="container col-sm-12 col-xs-12 col-md-6" style="text-align:left">
			<p>SIMPUL WEDS
				<br>Jl. S. Parman Gg. Harapan No. 9F - 20153
				<br>Medan, North Sumatra, Indonesia
				<br>(click here for direction)
				<br>+62 812 6273 1177
				<br>simpulweds@gmail.com
			</p>
		</div>

	</div>
</div>

</body>
</html>
