<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Simpul Weds</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="../stylesheets/styles.css">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon.png">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="../js/in-view.min.js"></script>
  <script type="text/javascript" src="../js/app.js"></script>

</head>
<body>
  <!-- Forked from a template on Tutorialzine: https://tutorialzine.com/2016/06/freebie-landing-page-template-with-flexbox -->
  <header>
    <nav>
    <a href="/"><img id="logo" src="/images/logo.png" class="logo"></a>
      <li><a href="/#home">HOME</a></li>
      <li><a href="/#film">FILM</a></li>
      <li><a href="/#photo">PHOTO</a></li>
      <li><a href="/#contact">CONTACT</a></li>
    </nav>
    <nav>
      <li><a href="#">FACEBOOK</a></li>
      <li><a href="#">INSTAGRAM</a></li>
    </nav>
  </header>

  <section class="hero" id="home">
    <div class="background-image">
      <ul class="slideshow">
        <li></li>
        <li></li>
      </ul>
    </div>
      <div class="hero-content-area">
      </div>
  </section>

  <section class="video" style="padding-bottom:100px;" id="film">
    <div class="container">
    <ul class="grid">
      <li>
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-4by3">
          <iframe id="ytiframe" class="embed-responsive-item"  height="380" style="width:100%" src="https://www.youtube.com/embed/bLxEXzZgC9U?rel=0" allowfullscreen frameborder="0"></iframe>
        </div>
      </li>
      <li>
        <p class="video-desc">We believe that you are the narrator of your own story. Your story deserves to be more than just a doctored plot; your story deserves to be a reflection of your honest, true self – and that’ s what we do here at Simpul Weds: a distinctively your story that depicts what matters to you.</p>
      </li>
    </ul>
    </div>
  </section>

  <section class="gallery" id="photo">
    <div class="container">
    <ul class="grid">
      <li>
        <p class="gallery-desc">When you document your love story, you put into focus the details that are uniquely you and reprioritize what’s important about your day as well as honoring your commitment to one another. It is also an excellent medium to showcase your story – who you are, what you love,and how you met – to all of your family and friends. It is a way to celebrate all the reasons you fell in love.</p>
      </li>
    <li>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <img class="d-block img-fluid" src="https://www.arenacamps.com/datastore/imagestore/original/1485516965kamp_stupice1-280616.jpg?v=1485516965" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="https://www.decathlon.co.uk/ecuk/static/wedze/assets/img/camping/camping-background.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="https://www.decathlon.co.uk/ecuk/static/wedze/assets/img/camping/camping-background.jpg" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </li>
  </ul>
  </div>
  </section>


  <section class="contact" id="contact">
    <div class="container">
    <h3>Send us message!</h3>
    <ul class="grid">
      <li>
        <form>
          <label class="control-label col-sm-2"  for="name">Name:</label>
  				<div class="col-sm-9">
  					<input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
  				</div>
          <label class="control-label col-sm-2"  for="name">Email:</label>
  				<div class="col-sm-9">
  					<input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
  				</div>
          <label class="control-label col-sm-2"  for="name">Country:</label>
  				<div class="col-sm-9">
  					<input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
  				</div>
          <label class="control-label col-sm-2"  for="name">Message:</label>
  				<div class="col-sm-9">
  					<input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
  				</div>
          <!-- <input type="email" placeholder="Email"> -->
          <a href="#" class="btn">Sent</a>
        </form>
      </li>
      <li class="contact-title">
        <h3>Simpul Weds</h3>
        <p class="contact-desc">Jl. S. Parman Gg. Harapan No. 9F - 20153
          <br>Medan, North Sumatra, Indonesia
          <br>+62 812 3111 1633
          <br>simpulweds@gmail.com</p>
      </li>
    </ul>
  </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>
</html>
