* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'IrisUPC';
  letter-spacing: 1.9px;
  line-height: 1.8;
  font-size: 16px;
}

html{
  font: normal 16px sans-serif;
  color:#555;
}

ul,nav{
  list-style: none;
}

a{
  text-decoration: none;
  opacity: 0.75;
  color: #fff;
}

a.btn {
  border-radius:4px;
  text-transform:uppercase;
  font-weight: bold;
  text-align: center;
  background-color: #fafafb;
  opacity:1;
}

section{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 80px;
}


.grid{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

hr{
  width: 250px;
  height: 3px;
  background-color: #3b51b5;
  border: 0;
  margin-bottom: 50px;
}

section h3.title{
  text-transform: capitalize;
  font:bold 32px "Open Sans",sans-serif;
  margin-bottom: 30px;
  text-align: center;
}

section p{
  max-width: 775px;
  line-height: 2;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
}

/*section:not(.hero):nth-child(even){
  background-color: #f5f5f5;
}*/

@media (max-width:800px){
  section{
    padding:50px 20px;
  }
}

/*header style*/
header{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:15px 50px 0;
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
  color: #fff;
  z-index: 1;
}

.logo{
  width:35px;
  margin-right:50px;
}



@keyframes fadein{
  100%{
    opacity: 1;
  }
}


/* header nav{
  display:flex;
  margin-right:-15px;
} */

header nav li{
  margin:0 25px;
}

.navbar-dark .navbar-nav .nav-link{
  color:white;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link{
  color:darkgrey;

}

.navbar-dark .navbar-toggler{
  color:darkgrey;
  border-color:darkgrey;
}

.navbar-dark .navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(192,192,192,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}

.navbar-dark .navbar-nav .nav-link:hover {
  opacity: 1;
  color:grey;
}
/* header nav:nth-child(1) li{
  margin-top:8px;
} */
.navbar {
  width: 100%;
}

.logo-signature {
  font-size: 100%;
  position: fixed;
  z-index: 1000;
  margin:auto;
  left:80px;
}

.logo-signature h6 {
  position: fixed;
  bottom:40px;
  z-index: 10;
  transform: rotate(270deg);
	transform-origin: left top 0;
  font-family: 'IrisUPC';
  font-size: 10px;
  letter-spacing: 0.5em;
  color:white;
}
h6.active{
  color:darkgrey;
}

/* .navbar-dark .navbar-nav .nav-link{
  color:white;
} */

@media (max-width:800px){
  header{
    padding:10px 20px;
    width:100%;
    display: block;
  }

  .logo-signature {
    font-size: 100%;
    position: fixed;
    z-index: 1000;
    margin:auto;
    left:30px;
  }

  .logo-signature h6 {
    position: fixed;
    bottom:10px;
    z-index: 10;
    transform: rotate(270deg);
  	transform-origin: left top 0;
    font-family: 'IrisUPC';
    font-size: 8px;
    letter-spacing: 0.5em;
    color:white;
  }

}

/*hero style*/
.hero{
  position:relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  color: #fff;
}

.hero .background-image{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -1;
  background-image: url(http://res.cloudinary.com/simpulweds/image/upload/v1507882933/Slideshow/1.jpg);
}

.hero .background-image .slideshow li{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}

.hero .background-image .slideshow li:nth-child(1) {
  background-image: url(http://res.cloudinary.com/simpulweds/image/upload/v1507882931/Slideshow/2.jpg);
  animation-delay: 10s;
}
.hero .background-image .slideshow li:nth-child(2) {
  background-image: url(http://res.cloudinary.com/simpulweds/image/upload/v1507882942/Slideshow/3.jpg);
  animation-delay: 15s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}


.hero-content-area{
  opacity: 0;
  margin-top: 100px;
  animation: 1s slidefade 1s forwards;
}

@keyframes slidefade{
  100% {
    opacity: 1;
    margin: 0;
  }
}

@media (max-width:800px){
  .hero{
    min-height: 600px;
  }

  .hero .background-image{
    background-image: url(http://res.cloudinary.com/simpulweds/image/upload/v1507882933/Slideshow/Mobile/1.jpg);
  }

  .hero .background-image .slideshow li:nth-child(1) {
    background-image: url(http://res.cloudinary.com/simpulweds/image/upload/v1513848080/Slideshow/Mobile/2.jpg);
    animation-delay: 5s;
  }
  .hero .background-image .slideshow li:nth-child(2) {
    background-image: url(http://res.cloudinary.com/simpulweds/image/upload/v1513848133/Slideshow/Mobile/3.jpg);
    animation-delay: 10s;
  }

}

/*video Section*/

.video{
  /*background-image:url(/images/pattern1.png);
  background-size:cover;*/
}

.video .grid li{
  padding:25px;
  flex-basis: 50%;
  text-align: center;
}

.video .grid li .video-desc{
  text-align: left;
}


@media (max-width: 800px){
  .video .grid li{
    flex-basis: 100%;
    padding:20px;
  }
}

/*gallery Section*/

.gallery{
  background-image:url(/images/pattern2.png);
  background-size:cover;
}

.gallery .grid li{
  padding:25px;
  flex-basis: 50%;
  text-align: center;
}

.gallery .grid li .gallery-desc{
  text-align: right;
}


@media (max-width: 800px){
  .gallery .grid li{
    flex-basis: 100%;
    padding:20px;
  }
}


/*contact section*/
.contact .grid li{
  padding:50px;
  flex-basis: 50%;
  text-align: center;
}

.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.contact form .btn{
  padding: 8px 10px;
}

.contact form input{
  padding: 8px;
  margin-right: 30px;
  font-size: 16px;
  color: #555;
  flex:1;
}

.contact .grid li form .col-sm-9{
  padding:10px;
  padding-left: 25px;
}

p.contact-desc , li.contact-title h3{
  text-align: left;
}

@media (max-width:1000px){
  .contact .grid li{
    flex-basis: 100%;
    padding:20px;
  }

  .contact form input{
    flex-basis: 100%;
  }
}
